fastapi
uvicorn[standard]
pydantic_settings
pydantic[email]
sqlalchemy
openai
colorlog
python-dotenv
alembic
psycopg2-binary
python-jose
passlib
bcrypt
elasticsearch
spacy
pdfplumber
langchain
pytesseract
pdf2image
chardet
python-multipart